In [ ]:
import pandas as pd
def load_data_engeland(Y):
    d={}
    url = "https://www.football-data.co.uk/fixtures.csv"
    programma = pd.read_csv(url)
    df_programma = programma[programma['Div'] == 'E0']
    
    for i in range(0,10):
        Y1 = int(Y)-i; Y2 = int(Y)-1-i
        Y1 = str(Y1)[-2:]; Y2 = str(Y2)[-2:]
        url = 'http://www.football-data.co.uk/mmz4281/'+Y2+Y1+'/E0.csv'
        if i == 0:
            d["df{0}".format(i)]= pd.concat([pd.read_csv(url),df_programma],axis=0)
            d["df{0}".format(i)] = d["df{0}".format(i)].iloc[::-1]
        else:
            d["df{0}".format(i)]= pd.read_csv(url)
            
            # reverse, newest games on top
            d["df{0}".format(i)] = d["df{0}".format(i)].iloc[::-1]

    return d
aldata = load_data_engeland(2021)
print(aldata.keys())
#     print(i)

In [2]:
data = load_data_engeland(2021)
data.keys()

dict_keys(['df0', 'df1', 'df2', 'df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9'])

In [3]:
df = data

In [29]:
df['df0'].head(2)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
11,E0,30/12/2020,20:00,Newcastle,Liverpool,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,E0,30/12/2020,18:00,Tottenham,Fulham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
dft = pd.DataFrame()
for x in list(df.keys())[0:5]:
    print(x)
    index0 = list(df.keys()).index(x)
    index3 = index0 + 4
    df3 = pd.DataFrame()
    for i in range(index0,index3):
        df3 = pd.concat([df3, pd.DataFrame.from_dict(df[list(df.keys())[i]])],axis = 0,ignore_index=False).reset_index(drop=True)
    df[x] = df[x][['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','B365H','B365D','B365A']].reset_index(drop=True)
    for start, row in df[x].iterrows():
#         huidig seizoen
        
        # thuisteam iterate
        t = row['HomeTeam']
        
        # uitteam iterate
        u = row['AwayTeam']

        # wedstrijden seizoen
        end = len(df[x])

        # team 1 dataframes
        df_t1 = df[x].iloc[start+1:end].loc[(df[x]['HomeTeam'] == t) | (df[x]['AwayTeam'] == t)]
        df_t1_tt = df_t1.loc[df_t1['HomeTeam'] == t]
        df_t1_ut = df_t1.loc[df_t1['AwayTeam'] == t]

        # team 2 dataframes
        df_t2 = df[x].iloc[start+1:end].loc[(df[x]['HomeTeam'] == u) | (df[x]['AwayTeam'] == u)]
        df_t2_tt = df_t2.loc[df_t2['HomeTeam'] == u]
        df_t2_ut = df_t2.loc[df_t2['AwayTeam'] == u]
        
       # team 1 punten per seizoen thuis + uit, + mean + ratio punten  
        df[x].loc[start,'t1_tt_tp'] = len(df_t1_tt[df_t1_tt['FTR'] == 'H'])*3 + len(df_t1_tt[df_t1_tt['FTR'] == 'D'])
        df[x].loc[start,'t1_ut_tp'] = len(df_t1_ut[df_t1_ut['FTR'] == 'A'])*3 + len(df_t1_ut[df_t1_ut['FTR'] == 'D'])
        df[x].loc[start,'t1_tp'] = df[x].loc[start,'t1_tt_tp'] + df[x].loc[start,'t1_ut_tp']
        
        # huidig seizoen win, gelijk en verlies
        df[x].loc[start,'t1_hs_w'] = len(df_t1_ut[df_t1_ut['FTR'] == 'A']) + len(df_t1_tt[df_t1_tt['FTR'] == 'H'])
        df[x].loc[start,'t1_hs_g'] = len(df_t1_ut[df_t1_ut['FTR'] == 'D']) + len(df_t1_tt[df_t1_tt['FTR'] == 'D'])
        df[x].loc[start,'t1_hs_v'] = len(df_t1_ut[df_t1_ut['FTR'] == 'H']) + len(df_t1_tt[df_t1_tt['FTR'] == 'A'])

        # huidig seizeon team 1 win, gelijk en verlies ratio's
        df[x].loc[start,'t1_hs_w_r'] = df[x].loc[start,'t1_hs_w'] / len(df_t1) if len(df_t1) > 0 else np.nan
        df[x].loc[start,'t1_hs_g_r'] = df[x].loc[start,'t1_hs_g'] / len(df_t1) if len(df_t1) > 0 else np.nan
        df[x].loc[start,'t1_hs_v_r'] = df[x].loc[start,'t1_hs_v'] / len(df_t1) if len(df_t1) > 0 else np.nan
    
        # huidig seizeon thuis wedstrijd team 1 win, gelijk en verlies
        df[x].loc[start,'t1_tt_hs_w_r'] = len(df_t1_tt[df_t1_tt['FTR'] == 'H']) / len(df_t1_tt) if len(df_t1_tt) != 0 else np.nan
        df[x].loc[start,'t1_tt_hs_g_r'] = len(df_t1_tt[df_t1_tt['FTR'] == 'D']) / len(df_t1_tt) if len(df_t1_tt) != 0 else np.nan
        df[x].loc[start,'t1_tt_hs_v_r'] = len(df_t1_ut[df_t1_ut['FTR'] == 'A']) / len(df_t1_tt) if len(df_t1_tt) != 0 else np.nan
        
        # huidig seizoen uit wedstrijden team 1 win, gelijk en verlies
        df[x].loc[start,'t1_ut_hs_w_r'] = len(df_t1_ut[df_t1_ut['FTR'] == 'A']) / len(df_t1_ut) if len(df_t1_ut) != 0 else np.nan
        df[x].loc[start,'t1_ut_hs_g_r'] = len(df_t1_ut[df_t1_ut['FTR'] == 'D']) / len(df_t1_ut) if len(df_t1_ut) != 0 else np.nan
        df[x].loc[start,'t1_ut_hs_v_r'] = len(df_t1_ut[df_t1_ut['FTR'] == 'H']) / len(df_t1_ut) if len(df_t1_ut) != 0 else np.nan
        
        
        
        # gemiddle punten per thuis wedstrijd
        df[x].loc[start,'t1_tt_tp_m'] = df[x].loc[start,'t1_tt_tp'] / len(df_t1_tt) if len(df_t1_tt) > 0 else 0
        
        # gemiddelde punten per uit wedstrijd
        df[x].loc[start,'t1_ut_tp_m'] = df[x].loc[start,'t1_ut_tp'] / len(df_t1_ut) if len(df_t1_ut) > 0 else 0
        
        # gemiddelde punten per wedstrijd
        df[x].loc[start,'t1_tp_m'] = df[x].loc[start,'t1_tp'] / len(df_t1) if len(df_t1) > 0 else np.nan
        
        # ratio's punten thuis/uit van totale punten
        df[x].loc[start,'t1_tt_tp_r'] = df[x].loc[start,'t1_tt_tp'] / df[x].loc[start,'t1_tp']  if df[x].loc[start,'t1_tp'] > 0 else 0
        df[x].loc[start,'t1_tt_up_r'] = df[x].loc[start,'t1_ut_tp'] / df[x].loc[start,'t1_tp']  if df[x].loc[start,'t1_tp'] > 0 else 0
        
        ##########################################       
        ################TEAM2#####################
        ##########################################
        # team 2 punten per seizoen thuis + uit, + mean + ratio punten      
        df[x].loc[start,'t2_tt_tp'] = len(df_t2_tt[df_t2_tt['FTR'] == 'H'])*3 + len(df_t2_tt[df_t2_tt['FTR'] == 'D'])
        df[x].loc[start,'t2_ut_tp'] = len(df_t2_ut[df_t2_ut['FTR'] == 'A'])*3 + len(df_t2_ut[df_t2_ut['FTR'] == 'D'])
        df[x].loc[start,'t2_tp'] = df[x].loc[start,'t2_tt_tp'] + df[x].loc[start,'t2_ut_tp']
        
        df[x].loc[start,'t2_hs_w'] = len(df_t2_ut[df_t2_ut['FTR'] == 'A']) + len(df_t2_tt[df_t2_tt['FTR'] == 'H'])
        df[x].loc[start,'t2_hs_g'] = len(df_t2_ut[df_t2_ut['FTR'] == 'D']) + len(df_t2_tt[df_t2_tt['FTR'] == 'D'])
        df[x].loc[start,'t2_hs_v'] = len(df_t2_ut[df_t2_ut['FTR'] == 'H']) + len(df_t2_tt[df_t2_tt['FTR'] == 'A'])

        df[x].loc[start,'t2_hs_w_r'] = df[x].loc[start,'t2_hs_w'] / len(df_t2) if len(df_t2) > 0 else np.nan
        df[x].loc[start,'t2_hs_g_r'] = df[x].loc[start,'t2_hs_g'] / len(df_t2) if len(df_t2) > 0 else np.nan
        df[x].loc[start,'t2_hs_v_r'] = df[x].loc[start,'t2_hs_v'] / len(df_t2) if len(df_t2) > 0 else np.nan
        
        
        # huidig seizeon thuis wedstrijd team 2 win, gelijk en verlies
        df[x].loc[start,'t2_tt_hs_w_r'] = len(df_t2_tt[df_t2_tt['FTR'] == 'H']) / len(df_t2_tt) if len(df_t2_tt) != 0 else np.nan
        df[x].loc[start,'t2_tt_hs_g_r'] = len(df_t2_tt[df_t2_tt['FTR'] == 'D']) / len(df_t2_tt) if len(df_t2_tt) != 0 else np.nan
        df[x].loc[start,'t2_tt_hs_v_r'] = len(df_t2_ut[df_t2_ut['FTR'] == 'A']) / len(df_t2_tt) if len(df_t2_tt) != 0 else np.nan
        
        # huidig seizoen uit wedstrijden team 2 win, gelijk en verlies
        df[x].loc[start,'t2_ut_hs_w_r'] = len(df_t2_ut[df_t2_ut['FTR'] == 'A']) / len(df_t2_ut) if len(df_t2_ut) != 0 else np.nan
        df[x].loc[start,'t2_ut_hs_g_r'] = len(df_t2_ut[df_t2_ut['FTR'] == 'D']) / len(df_t2_ut) if len(df_t2_ut) != 0 else np.nan
        df[x].loc[start,'t2_ut_hs_v_r'] = len(df_t2_ut[df_t2_ut['FTR'] == 'H']) / len(df_t2_ut) if len(df_t2_ut) != 0 else np.nan
        
    
        
        # gemiddeldes
        df[x].loc[start,'t2_tt_tp_m'] = df[x].loc[start,'t2_tt_tp'] / len(df_t2_tt) if len(df_t2_tt) > 0 else 0
        df[x].loc[start,'t2_ut_tp_m'] = df[x].loc[start,'t2_ut_tp'] / len(df_t2_ut) if len(df_t2_ut) > 0 else 0
        df[x].loc[start,'t2_tp_m'] = df[x].loc[start,'t2_tp'] / len(df_t2) if len(df_t2) > 0 else np.nan
        
        df[x].loc[start,'t2_tt_tp_r'] = df[x].loc[start,'t2_tt_tp'] / df[x].loc[start,'t2_tp'] if df[x].loc[start,'t2_tp'] > 0 else 0
        df[x].loc[start,'t2_tt_up_r'] = df[x].loc[start,'t2_ut_tp'] / df[x].loc[start,'t2_tp'] if df[x].loc[start,'t2_tp'] > 0 else 0
        
        #######################################
        ### laatste 3 wedstrijden variabelen###
        #######################################
        #################TEAM1#################
        if len(df_t1) >= 3:
            df_t1_3 = df_t1.iloc[0:3]
            # team 1 laatste 3 wedstrijden winst, gelijk en verlies
            df[x].loc[start,'t1_3_w'] = len(df_t1_3[(df_t1_3['FTR'] == 'H') & (df_t1_3['HomeTeam'] == t)]) + len(df_t1_3[(df_t1_3['FTR'] == 'A') & (df_t1_3['AwayTeam'] == t)])
            df[x].loc[start,'t1_3_g'] = len(df_t1_3[(df_t1_3['FTR'] == 'D') & (df_t1_3['HomeTeam'] == t)]) + len(df_t1_3[(df_t1_3['FTR'] == 'D') & (df_t1_3['AwayTeam'] == t)])
            df[x].loc[start,'t1_3_v'] = len(df_t1_3[(df_t1_3['FTR'] == 'A') & (df_t1_3['HomeTeam'] == t)]) + len(df_t1_3[(df_t1_3['FTR'] == 'H') & (df_t1_3['AwayTeam'] == t)])
            
            # team 1 laatste 3 wedstrijden winst, gelijk en verlies ratio's
            df[x].loc[start,'t1_3_w_r'] = df[x].loc[start,'t1_3_w'] / len(df_t1_3)
            df[x].loc[start,'t1_3_g_r'] = df[x].loc[start,'t1_3_g'] / len(df_t1_3)
            df[x].loc[start,'t1_3_v_r'] = df[x].loc[start,'t1_3_v'] / len(df_t1_3)
        
        # kleiner dan 3 dan wordt het een nan
        else:
            df[x].loc[start,'t1_3_w'] = np.nan 
            df[x].loc[start,'t1_3_g'] = np.nan
            df[x].loc[start,'t1_3_v'] = np.nan
            
            df[x].loc[start,'t1_3_w_r'] = np.nan
            df[x].loc[start,'t1_3_g_r'] = np.nan
            df[x].loc[start,'t1_3_v_r'] = np.nan
        
        if len(df_t1_tt) >= 3:
            df_t1_tt_3 = df_t1_tt.iloc[0:3]
            df[x].loc[start,'t1_tt_3_w'] = len(df_t1_tt_3[(df_t1_tt_3['FTR'] == 'H') & (df_t1_tt_3['HomeTeam'] == t)]) + len(df_t1_tt_3[(df_t1_tt_3['FTR'] == 'A') & (df_t1_tt_3['AwayTeam'] == t)])
            df[x].loc[start,'t1_tt_3_g'] = len(df_t1_tt_3[(df_t1_tt_3['FTR'] == 'D') & (df_t1_tt_3['HomeTeam'] == t)]) + len(df_t1_tt_3[(df_t1_tt_3['FTR'] == 'D') & (df_t1_tt_3['AwayTeam'] == t)])
            df[x].loc[start,'t1_tt_3_v'] = len(df_t1_tt_3[(df_t1_tt_3['FTR'] == 'A') & (df_t1_tt_3['HomeTeam'] == t)]) + len(df_t1_tt_3[(df_t1_tt_3['FTR'] == 'H') & (df_t1_tt_3['AwayTeam'] == t)])
            
            df[x].loc[start,'t1_tt_3_w_r'] = df[x].loc[start,'t1_tt_3_w'] / len(df_t1_tt_3)
            df[x].loc[start,'t1_tt_3_g_r'] = df[x].loc[start,'t1_tt_3_g'] / len(df_t1_tt_3)
            df[x].loc[start,'t1_tt_3_v_r'] = df[x].loc[start,'t1_tt_3_v'] / len(df_t1_tt_3)
            
        else:
            df[x].loc[start,'t1_tt_3_w'] = np.nan 
            df[x].loc[start,'t1_tt_3_g'] = np.nan
            df[x].loc[start,'t1_tt_3_v'] = np.nan
            
            df[x].loc[start,'t1_tt_3_w_r'] = np.nan
            df[x].loc[start,'t1_tt_3_g_r'] = np.nan
            df[x].loc[start,'t1_tt_3_v_r'] = np.nan
        
        if len(df_t1_ut) >= 3:
            df_t1_ut_3 = df_t1_ut.iloc[0:3]
            df[x].loc[start,'t1_ut_3_w'] = len(df_t1_ut_3[(df_t1_ut_3['FTR'] == 'H') & (df_t1_ut_3['HomeTeam'] == t)]) + len(df_t1_ut_3[(df_t1_ut_3['FTR'] == 'A') & (df_t1_ut_3['AwayTeam'] == t)])
            df[x].loc[start,'t1_ut_3_g'] = len(df_t1_ut_3[(df_t1_ut_3['FTR'] == 'D') & (df_t1_ut_3['HomeTeam'] == t)]) + len(df_t1_ut_3[(df_t1_ut_3['FTR'] == 'D') & (df_t1_ut_3['AwayTeam'] == t)])
            df[x].loc[start,'t1_ut_3_v'] = len(df_t1_ut_3[(df_t1_ut_3['FTR'] == 'A') & (df_t1_ut_3['HomeTeam'] == t)]) + len(df_t1_ut_3[(df_t1_ut_3['FTR'] == 'H') & (df_t1_ut_3['AwayTeam'] == t)])
            
            df[x].loc[start,'t1_ut_3_w_r'] = df[x].loc[start,'t1_ut_3_w'] / len(df_t1_ut_3)
            df[x].loc[start,'t1_ut_3_g_r'] = df[x].loc[start,'t1_ut_3_g'] / len(df_t1_ut_3)
            df[x].loc[start,'t1_ut_3_v_r'] = df[x].loc[start,'t1_ut_3_v'] / len(df_t1_ut_3)
            
        else:
            df[x].loc[start,'t1_ut_3_w'] = np.nan 
            df[x].loc[start,'t1_ut_3_g'] = np.nan
            df[x].loc[start,'t1_ut_3_v'] = np.nan
            
            df[x].loc[start,'t1_ut_3_w_r'] = np.nan
            df[x].loc[start,'t1_ut_3_g_r'] = np.nan
            df[x].loc[start,'t1_ut_3_v_r'] = np.nan
        
        #######################################
        ### laatste 3 wedstrijden variabelen###
        #######################################
        #################TEAM2#################
        if len(df_t2) >= 3:
            df_t2_3 = df_t2.iloc[0:3]

            df[x].loc[start,'t2_3_w'] = len(df_t2_3[(df_t2_3['FTR'] == 'H') & (df_t2_3['HomeTeam'] == u)]) + len(df_t2_3[(df_t2_3['FTR'] == 'A') & (df_t2_3['AwayTeam'] == u)])
            df[x].loc[start,'t2_3_g'] = len(df_t2_3[(df_t2_3['FTR'] == 'D') & (df_t2_3['HomeTeam'] == u)]) + len(df_t2_3[(df_t2_3['FTR'] == 'D') & (df_t2_3['AwayTeam'] == u)])
            df[x].loc[start,'t2_3_v'] = len(df_t2_3[(df_t2_3['FTR'] == 'A') & (df_t2_3['HomeTeam'] == u)]) + len(df_t2_3[(df_t2_3['FTR'] == 'H') & (df_t2_3['AwayTeam'] == u)])
            
            df[x].loc[start,'t2_3_w_r'] = df[x].loc[start,'t2_3_w'] / len(df_t2_3)
            df[x].loc[start,'t2_3_g_r'] = df[x].loc[start,'t2_3_g'] / len(df_t2_3)
            df[x].loc[start,'t2_3_v_r'] = df[x].loc[start,'t2_3_v'] / len(df_t2_3)
            
        else:
            df[x].loc[start,'t2_3_w'] = np.nan 
            df[x].loc[start,'t2_3_g'] = np.nan
            df[x].loc[start,'t2_3_v'] = np.nan
            
            df[x].loc[start,'t2_3_w_r'] = np.nan
            df[x].loc[start,'t2_3_g_r'] = np.nan
            df[x].loc[start,'t2_3_v_r'] = np.nan
        
        if len(df_t2_tt) >= 3:
            df_t2_tt_3 = df_t2_tt.iloc[0:3]
            df[x].loc[start,'t2_tt_3_w'] = len(df_t2_tt_3[(df_t2_tt_3['FTR'] == 'H') & (df_t2_tt_3['HomeTeam'] == u)]) + len(df_t2_tt_3[(df_t2_tt_3['FTR'] == 'A') & (df_t2_tt_3['AwayTeam'] == u)])
            df[x].loc[start,'t2_tt_3_g'] = len(df_t2_tt_3[(df_t2_tt_3['FTR'] == 'D') & (df_t2_tt_3['HomeTeam'] == u)]) + len(df_t2_tt_3[(df_t2_tt_3['FTR'] == 'D') & (df_t2_tt_3['AwayTeam'] == u)])
            df[x].loc[start,'t2_tt_3_v'] = len(df_t2_tt_3[(df_t2_tt_3['FTR'] == 'A') & (df_t2_tt_3['HomeTeam'] == u)]) + len(df_t2_tt_3[(df_t2_tt_3['FTR'] == 'H') & (df_t2_tt_3['AwayTeam'] == u)])
            
            df[x].loc[start,'t2_tt_3_w_r'] = df[x].loc[start,'t2_tt_3_w'] / len(df_t2_tt_3)
            df[x].loc[start,'t2_tt_3_g_r'] = df[x].loc[start,'t2_tt_3_g'] / len(df_t2_tt_3)
            df[x].loc[start,'t2_tt_3_v_r'] = df[x].loc[start,'t2_tt_3_v'] / len(df_t2_tt_3)
            
        else:
            df[x].loc[start,'t2_tt_3_w'] = np.nan 
            df[x].loc[start,'t2_tt_3_g'] = np.nan
            df[x].loc[start,'t2_tt_3_v'] = np.nan
            
            df[x].loc[start,'t2_tt_3_w_r'] = np.nan
            df[x].loc[start,'t2_tt_3_g_r'] = np.nan
            df[x].loc[start,'t2_tt_3_v_r'] = np.nan
        
        if len(df_t2_ut) >= 3:
            df_t2_ut_3 = df_t2_ut.iloc[0:3]
            df[x].loc[start,'t2_ut_3_w'] = len(df_t2_ut_3[(df_t2_ut_3['FTR'] == 'H') & (df_t2_ut_3['HomeTeam'] == u)]) + len(df_t2_ut_3[(df_t2_ut_3['FTR'] == 'A') & (df_t2_ut_3['AwayTeam'] == u)])
            df[x].loc[start,'t2_ut_3_g'] = len(df_t2_ut_3[(df_t2_ut_3['FTR'] == 'D') & (df_t2_ut_3['HomeTeam'] == u)]) + len(df_t2_ut_3[(df_t2_ut_3['FTR'] == 'D') & (df_t2_ut_3['AwayTeam'] == u)])
            df[x].loc[start,'t2_ut_3_v'] = len(df_t2_ut_3[(df_t2_ut_3['FTR'] == 'A') & (df_t2_ut_3['HomeTeam'] == u)]) + len(df_t2_ut_3[(df_t2_ut_3['FTR'] == 'H') & (df_t2_ut_3['AwayTeam'] == u)])
            
            df[x].loc[start,'t2_ut_3_w_r'] = df[x].loc[start,'t2_ut_3_w'] / len(df_t2_ut_3)
            df[x].loc[start,'t2_ut_3_g_r'] = df[x].loc[start,'t2_ut_3_g'] / len(df_t2_ut_3)
            df[x].loc[start,'t2_ut_3_v_r'] = df[x].loc[start,'t2_ut_3_v'] / len(df_t2_ut_3)
            
        else:
            
            df[x].loc[start,'t2_ut_3_w'] = np.nan 
            df[x].loc[start,'t2_ut_3_g'] = np.nan
            df[x].loc[start,'t2_ut_3_v'] = np.nan
            
            df[x].loc[start,'t2_ut_3_w_r'] = np.nan
            df[x].loc[start,'t2_ut_3_g_r'] = np.nan
            df[x].loc[start,'t2_ut_3_v_r'] = np.nan        
            
            
        ###########################################################
        #########################3YEARS############################
        ###########################################################
        
        # team 1 dataframes
        df_t1_3y = df3.loc[(df3['HomeTeam'] == t) | (df3['AwayTeam'] == t)].iloc[1:]
        df_t1_tt_3y = df_t1_3y.loc[df_t1_3y['HomeTeam'] == t]
        df_t1_ut_3y = df_t1_3y.loc[df_t1_3y['AwayTeam'] == t]
        
        # team 2 dataframes
        df_t2_3y = df3.loc[(df3['HomeTeam'] == u) | (df3['AwayTeam'] == u)].iloc[1:]
        df_t2_tt_3y = df_t2_3y.loc[df_t2_3y['HomeTeam'] == u]
        df_t2_ut_3y = df_t2_3y.loc[df_t2_3y['AwayTeam'] == u]
        
        # team 1 counts win, gelijk en verlies
        df[x].loc[start,'t1_tt_w_3y'] = len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'H'])
        df[x].loc[start,'t1_ut_w_3y'] = len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'A'])
        df[x].loc[start,'t1_w_3y'] = len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'H']) + len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'A'])
        
        # team 1 thuiswedstrijden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t1_tt_w_r_3y'] = len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'H']) / len(df_t1_tt_3y) if len(df_t1_tt_3y) > 0 else np.nan
        df[x].loc[start,'t1_tt_g_r_3y'] = len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'D']) / len(df_t1_tt_3y) if len(df_t1_tt_3y) > 0 else np.nan
        df[x].loc[start,'t1_tt_v_r_3y'] = len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'A']) / len(df_t1_tt_3y) if len(df_t1_tt_3y) > 0 else np.nan
        
        # team 1 uitwedstrijden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t1_ut_w_r_3y'] = len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'A']) / len(df_t1_ut_3y) if len(df_t1_ut_3y) > 0 else np.nan
        df[x].loc[start,'t1_ut_g_r_3y'] = len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'D']) / len(df_t1_ut_3y) if len(df_t1_ut_3y) > 0 else np.nan
        df[x].loc[start,'t1_ut_v_r_3y'] = len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'H']) / len(df_t1_ut_3y) if len(df_t1_ut_3y) > 0 else np.nan
        
        # team 1 wedstirjden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t1_w_r_3y'] = (len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'H']) + len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'A'])) / len(df_t1_3y) if len(df_t1_3y) != 0 else np.nan
        df[x].loc[start,'t1_g_r_3y'] = (len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'D']) + len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'D'])) / len(df_t1_3y) if len(df_t1_3y) != 0 else np.nan
        df[x].loc[start,'t1_v_r_3y'] = (len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'A']) + len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'H'])) / len(df_t1_3y) if len(df_t1_3y) != 0 else np.nan
        
        
        # team 2 thuiswedstrijden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t2_tt_w_r_3y'] = len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'H']) / len(df_t2_tt_3y) if len(df_t2_tt_3y) > 0 else np.nan
        df[x].loc[start,'t2_tt_g_r_3y'] = len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'D']) / len(df_t2_tt_3y) if len(df_t2_tt_3y) > 0 else np.nan
        df[x].loc[start,'t2_tt_v_r_3y'] = len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'A']) / len(df_t2_tt_3y) if len(df_t2_tt_3y) > 0 else np.nan
        
        # team 2 uitwedstrijden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t2_ut_w_r_3y'] = len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'A']) / len(df_t2_ut_3y) if len(df_t2_ut_3y) > 0 else np.nan
        df[x].loc[start,'t2_ut_g_r_3y'] = len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'D']) / len(df_t2_ut_3y) if len(df_t2_ut_3y) > 0 else np.nan
        df[x].loc[start,'t2_ut_v_r_3y'] = len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'H']) / len(df_t2_ut_3y) if len(df_t2_ut_3y) > 0 else np.nan
        
        # team 2 wedstirjden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t2_w_r_3y'] = (len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'H']) + len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'A'])) / len(df_t2_3y) if len(df_t2_3y) != 0 else np.nan
        df[x].loc[start,'t2_g_r_3y'] = (len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'D']) + len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'D'])) / len(df_t2_3y) if len(df_t2_3y) != 0 else np.nan
        df[x].loc[start,'t2_v_r_3y'] = (len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'A']) + len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'H'])) / len(df_t2_3y) if len(df_t2_3y) != 0 else np.nan
        
        # gemeenschappelijk dataframe team 1 en team 2
        df_t1_t2_3y = df3.loc[((df3['HomeTeam'] == t) | (df3['HomeTeam'] == u)) & ((df3['AwayTeam'] == t) | (df3['AwayTeam'] == u))].iloc[1:]

        df[x].loc[start,'df_t1_t2_t1w_r'] = (len(df_t1_t2_3y[(df_t1_t2_3y['HomeTeam'] == t) & (df_t1_t2_3y['FTR'] == 'H')]) + len(df_t1_t2_3y[(df_t1_t2_3y['AwayTeam'] == t) & (df_t1_t2_3y['FTR'] == 'A')])) / len(df_t1_t2_3y) if len(df_t1_t2_3y) != 0 else np.nan
        df[x].loc[start,'df_t1_t2_t1v_r'] = (len(df_t1_t2_3y[(df_t1_t2_3y['HomeTeam'] == u) & (df_t1_t2_3y['FTR'] == 'H')]) + len(df_t1_t2_3y[(df_t1_t2_3y['AwayTeam'] == u) & (df_t1_t2_3y['FTR'] == 'A')])) / len(df_t1_t2_3y) if len(df_t1_t2_3y) != 0 else np.nan
        df[x].loc[start,'df_t1_t2_g_r'] = (len(df_t1_t2_3y[(df_t1_t2_3y['HomeTeam'] == t) & (df_t1_t2_3y['FTR'] == 'D')])+ len(df_t1_t2_3y[(df_t1_t2_3y['AwayTeam'] == t) & (df_t1_t2_3y['FTR'] == 'D')])) / len(df_t1_t2_3y) if len(df_t1_t2_3y) != 0 else np.nan
        
        
        dft = pd.concat([dft, df[x]],axis = 0,ignore_index=False)

In [160]:
df_test = pd.concat([create_df_football({k:aldata[k] for k in list(aldata.keys())[x:x+5]}) for x in range(0,4)]).reset_index(drop=True)

In [161]:
df_test

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,B365H,...,t2_tt_v_r_3y,t2_ut_w_r_3y,t2_ut_g_r_3y,t2_ut_v_r_3y,t2_w_r_3y,t2_g_r_3y,t2_v_r_3y,df_t1_t2_t1w_r,df_t1_t2_t1v_r,df_t1_t2_g_r
0,30/12/2020,Newcastle,Liverpool,NaN,NaN,NaN,NaN,NaN,NaN,12.00,...,0.0,0.59375,0.25,0.15625,0.713178,0.209302,0.077519,0.0,0.833333,0.166667
1,30/12/2020,Tottenham,Fulham,NaN,NaN,NaN,NaN,NaN,NaN,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29/12/2020,Man United,Wolves,NaN,NaN,NaN,NaN,NaN,NaN,1.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29/12/2020,West Brom,Leeds,NaN,NaN,NaN,NaN,NaN,NaN,3.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29/12/2020,Southampton,West Ham,NaN,NaN,NaN,NaN,NaN,NaN,2.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,12/08/2017,Everton,Stoke,1.0,0.0,H,1.0,0.0,H,1.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1293,12/08/2017,Crystal Palace,Huddersfield,0.0,3.0,A,0.0,2.0,A,1.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1294,12/08/2017,Chelsea,Burnley,2.0,3.0,A,0.0,3.0,A,1.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1295,12/08/2017,Brighton,Man City,0.0,2.0,A,0.0,0.0,D,11.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1296,11/08/2017,Arsenal,Leicester,4.0,3.0,H,2.0,2.0,D,1.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
# list(aldata.keys())[0:5]
create_df_football(aldata)

# {k:aldata[k] for k in list(aldata.keys())[0:4]}
# { list(aldata.keys())[0:5]: aldata[list(aldata.keys())[0:5]] for your_key in list(aldata.keys())[0:5] }

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,B365H,...,t2_tt_v_r_3y,t2_ut_w_r_3y,t2_ut_g_r_3y,t2_ut_v_r_3y,t2_w_r_3y,t2_g_r_3y,t2_v_r_3y,df_t1_t2_t1w_r,df_t1_t2_t1v_r,df_t1_t2_g_r
0,30/12/2020,Newcastle,Liverpool,NaN,NaN,NaN,NaN,NaN,NaN,12.00,...,0.0,0.59375,0.25,0.15625,0.713178,0.209302,0.077519,0.0,0.833333,0.166667
1,30/12/2020,Tottenham,Fulham,NaN,NaN,NaN,NaN,NaN,NaN,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29/12/2020,Man United,Wolves,NaN,NaN,NaN,NaN,NaN,NaN,1.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29/12/2020,West Brom,Leeds,NaN,NaN,NaN,NaN,NaN,NaN,3.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29/12/2020,Southampton,West Ham,NaN,NaN,NaN,NaN,NaN,NaN,2.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,13/09/2020,West Brom,Leicester,0.0,3.0,A,0.0,0.0,D,3.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,12/09/2020,West Ham,Newcastle,0.0,2.0,A,0.0,0.0,D,2.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,12/09/2020,Liverpool,Leeds,4.0,3.0,H,3.0,2.0,H,1.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,12/09/2020,Crystal Palace,Southampton,1.0,0.0,H,1.0,0.0,H,3.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,12/09/2020,Fulham,Arsenal,0.0,3.0,A,0.0,1.0,A,6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
create_df_football(aldata)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,B365H,...,t2_tt_v_r_3y,t2_ut_w_r_3y,t2_ut_g_r_3y,t2_ut_v_r_3y,t2_w_r_3y,t2_g_r_3y,t2_v_r_3y,df_t1_t2_t1w_r,df_t1_t2_t1v_r,df_t1_t2_g_r
0,30/12/2020,Newcastle,Liverpool,NaN,NaN,NaN,NaN,NaN,NaN,12.00,...,0.0,0.59375,0.25,0.15625,0.713178,0.209302,0.077519,0.0,0.833333,0.166667
1,30/12/2020,Tottenham,Fulham,NaN,NaN,NaN,NaN,NaN,NaN,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29/12/2020,Man United,Wolves,NaN,NaN,NaN,NaN,NaN,NaN,1.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29/12/2020,West Brom,Leeds,NaN,NaN,NaN,NaN,NaN,NaN,3.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29/12/2020,Southampton,West Ham,NaN,NaN,NaN,NaN,NaN,NaN,2.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,13/09/2020,West Brom,Leicester,0.0,3.0,A,0.0,0.0,D,3.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,12/09/2020,West Ham,Newcastle,0.0,2.0,A,0.0,0.0,D,2.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,12/09/2020,Liverpool,Leeds,4.0,3.0,H,3.0,2.0,H,1.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,12/09/2020,Crystal Palace,Southampton,1.0,0.0,H,1.0,0.0,H,3.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,12/09/2020,Fulham,Arsenal,0.0,3.0,A,0.0,1.0,A,6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

TypeError: 'dict_values' object is not subscriptable

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,SJA,GBH,GBD,GBA,BSH,BSD,BSA,SBH,SBD,SBA
11,E0,30/12/2020,20:00,Newcastle,Liverpool,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,E0,30/12/2020,18:00,Tottenham,Fulham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,E0,29/12/2020,20:00,Man United,Wolves,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,E0,29/12/2020,18:00,West Brom,Leeds,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,E0,29/12/2020,18:00,Southampton,West Ham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,E0,13/08/11,NaN,QPR,Bolton,0.0,4.0,A,0.0,1.0,...,3.20,2.30,3.20,3.0,2.30,3.25,3.10,2.3,3.20,2.80
3,E0,13/08/11,NaN,Newcastle,Arsenal,0.0,0.0,D,0.0,0.0,...,1.91,3.75,3.20,2.0,3.75,3.25,2.05,3.4,3.40,1.95
2,E0,13/08/11,NaN,Liverpool,Sunderland,1.0,1.0,D,1.0,0.0,...,7.50,1.50,3.75,7.0,1.50,3.75,7.00,1.4,4.00,7.50
1,E0,13/08/11,NaN,Fulham,Aston Villa,0.0,0.0,D,0.0,0.0,...,3.50,2.10,3.20,3.5,2.10,3.25,3.40,2.1,3.20,3.20
0,E0,13/08/11,NaN,Blackburn,Wolves,1.0,2.0,A,1.0,1.0,...,3.60,2.10,3.20,3.5,2.00,3.40,3.60,2.0,3.25,3.40

In [79]:
df_test

[           Date        HomeTeam     AwayTeam  FTHG  FTAG  FTR  HTHG  HTAG  \
 0    30/12/2020       Newcastle    Liverpool   NaN   NaN  NaN   NaN   NaN
 1    30/12/2020       Tottenham       Fulham   NaN   NaN  NaN   NaN   NaN
 2    29/12/2020      Man United       Wolves   NaN   NaN  NaN   NaN   NaN
 3    29/12/2020       West Brom        Leeds   NaN   NaN  NaN   NaN   NaN
 4    29/12/2020     Southampton     West Ham   NaN   NaN  NaN   NaN   NaN
 ..          ...             ...          ...   ...   ...  ...   ...   ...
 152  13/09/2020       West Brom    Leicester   0.0   3.0    A   0.0   0.0
 153  12/09/2020        West Ham    Newcastle   0.0   2.0    A   0.0   0.0
 154  12/09/2020       Liverpool        Leeds   4.0   3.0    H   3.0   2.0
 155  12/09/2020  Crystal Palace  Southampton   1.0   0.0    H   1.0   0.0
 156  12/09/2020          Fulham      Arsenal   0.0   3.0    A   0.0   1.0

      HTR  B365H  ...  t2_tt_v_r_3y  t2_ut_w_r_3y  t2_ut_g_r_3y  t2_ut_v_r_3y  \
 0    NaN  12.00  ...           0.0       0.59375          0.25       0.15625
 1    NaN   1.50  ...           NaN           NaN           NaN           NaN
 2    NaN   1.53  ...           NaN           NaN           NaN           NaN
 3    NaN   3.60  ...           NaN           NaN           NaN           NaN
 4    NaN   2.10  ...           NaN           NaN           NaN           NaN
 ..   ...    ...  ...           ...           ...           ...           ...
 152    D   3.80  ...           NaN           NaN           NaN           NaN
 153    D   2.15  ...           NaN           NaN           NaN           NaN
 154    H   1.28  ...           NaN           NaN           NaN           NaN
 155    H   3.10  ...           NaN           NaN           NaN           NaN
 156    A   6.00  ...           NaN           NaN           NaN           NaN

      t2_w_r_3y  t2_g_r_3y  t2_v_r_3y  df_t1_t2_t1w_r  df_t1_t2_t1v_r  \
 0     0.713178   0.209302   0.077519             0.0        0.833333
 1          NaN        NaN        NaN             NaN             NaN
 2          NaN        NaN        NaN             NaN             NaN
 3          NaN        NaN        NaN             NaN             NaN
 4          NaN        NaN        NaN             NaN             NaN
 ..         ...        ...        ...             ...             ...
 152        NaN        NaN        NaN             NaN             NaN
 153        NaN        NaN        NaN             NaN             NaN
 154        NaN        NaN        NaN             NaN             NaN
 155        NaN        NaN        NaN             NaN             NaN
 156        NaN        NaN        NaN             NaN             NaN

      df_t1_t2_g_r
 0        0.166667
 1             NaN
 2             NaN
 3             NaN
 4             NaN
 ..            ...
 152           NaN
 153           NaN
 154           NaN
 155           NaN
 156           NaN

 [157 rows x 112 columns],
            Date        HomeTeam          AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
 0    26/07/2020        West Ham       Aston Villa     1     1   D     0     0
 1    26/07/2020     Southampton  Sheffield United     3     1   H     0     1
 2    26/07/2020       Newcastle         Liverpool     1     3   A     1     1
 3    26/07/2020        Man City           Norwich     5     0   H     2     0
 4    26/07/2020       Leicester        Man United     0     2   A     0     0
 ..          ...             ...               ...   ...   ...  ..   ...   ...
 375  10/08/2019  Crystal Palace           Everton     0     0   D     0     0
 376  10/08/2019         Burnley       Southampton     3     0   H     0     0
 377  10/08/2019     Bournemouth  Sheffield United     1     1   D     0     0
 378  10/08/2019        West Ham          Man City     0     5   A     0     1
 379  09/08/2019       Liverpool           Norwich     4     1   H     4     0

     HTR  B365H  ...  t2_tt_v_r_3y  t2_ut_w_r_3y  t2_ut_g_r_3y  t2_ut_v_r_3y  \
 0     D   3.00  ...      0.473684      0.111111      0.222222      0.666667
 1     A   2.15  ...           NaN           NaN           NaN           NaN
 2     D   7.50  ...           NaN           NaN           NaN           NaN
 3     H   1.08  ...           NaN           NaN           NaN           NaN
 4     D   3.25  ...           NaN           NaN           NaN           NaN
 ..   ..    ...  ...           ...           ...           ...           ...
 375   D   3.00  ...           NaN           NaN           NaN           NaN
 376   D   2.62  ...           NaN           NaN           NaN           NaN
 377   D   1.95  ...           NaN           NaN           NaN           NaN
 378   A  12.00  ...           NaN           NaN           NaN           NaN
 379   H   1.14  ...           NaN           NaN           NaN           NaN

      t2_w_r_3y  t2_g_r_3y  t2_v_r_3y  df_t1_t2_t1w_r  df_t1_t2_t1v_r  \
 0     0.243243   0.189189   0.567568             0.0             0.0
 1          NaN        NaN        NaN             NaN             NaN
 2          NaN        NaN        NaN             NaN             NaN
 3          NaN        NaN        NaN             NaN             NaN
 4          NaN        NaN        NaN             NaN             NaN
 ..         ...        ...        ...             ...             ...
 375        NaN        NaN        NaN             NaN             NaN
 376        NaN        NaN        NaN             NaN             NaN
 377        NaN        NaN        NaN             NaN             NaN
 378        NaN        NaN        NaN             NaN             NaN
 379        NaN        NaN        NaN             NaN             NaN

      df_t1_t2_g_r
 0             1.0
 1             NaN
 2             NaN
 3             NaN
 4             NaN
 ..            ...
 375           NaN
 376           NaN
 377           NaN
 378           NaN
 379           NaN

 [380 rows x 112 columns],
            Date      HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
 0    12/05/2019       Watford        West Ham     1     4   A     0     2   A
 1    12/05/2019     Tottenham         Everton     2     2   D     1     0   H
 2    12/05/2019   Southampton    Huddersfield     1     1   D     1     0   H
 3    12/05/2019    Man United         Cardiff     0     2   A     0     1   A
 4    12/05/2019     Liverpool          Wolves     2     0   H     1     0   H
 ..          ...           ...             ...   ...   ...  ..   ...   ...  ..
 375  11/08/2018     Newcastle       Tottenham     1     2   A     1     2   A
 376  11/08/2018  Huddersfield         Chelsea     0     3   A     0     2   A
 377  11/08/2018        Fulham  Crystal Palace     0     2   A     0     1   A
 378  11/08/2018   Bournemouth         Cardiff     2     0   H     1     0   H
 379  10/08/2018    Man United       Leicester     2     1   H     1     0   H

      B365H  ...  t2_tt_v_r_3y  t2_ut_w_r_3y  t2_ut_g_r_3y  t2_ut_v_r_3y  \
 0     2.25  ...      0.302632      0.266667          0.28      0.453333
 1     2.20  ...           NaN           NaN           NaN           NaN
 2     1.44  ...           NaN           NaN           NaN           NaN
 3     1.28  ...           NaN           NaN           NaN           NaN
 4     1.30  ...           NaN           NaN           NaN           NaN
 ..     ...  ...           ...           ...           ...           ...
 375   3.90  ...           NaN           NaN           NaN           NaN
 376   6.50  ...           NaN           NaN           NaN           NaN
 377   2.50  ...           NaN           NaN           NaN           NaN
 378   1.90  ...           NaN           NaN           NaN           NaN
 379   1.57  ...           NaN           NaN           NaN           NaN

      t2_w_r_3y  t2_g_r_3y  t2_v_r_3y  df_t1_t2_t1w_r  df_t1_t2_t1v_r  \
 0     0.344371   0.278146   0.377483        0.571429        0.285714
 1          NaN        NaN        NaN             NaN             NaN
 2          NaN        NaN        NaN             NaN             NaN
 3          NaN        NaN        NaN             NaN             NaN
 4          NaN        NaN        NaN             NaN             NaN
 ..         ...        ...        ...             ...             ...
 375        NaN        NaN        NaN             NaN             NaN
 376        NaN        NaN        NaN             NaN             NaN
 377        NaN        NaN        NaN             NaN             NaN
 378        NaN        NaN        NaN             NaN             NaN
 379        NaN        NaN        NaN             NaN             NaN

      df_t1_t2_g_r
 0        0.142857
 1             NaN
 2             NaN
 3             NaN
 4             NaN
 ..            ...
 375           NaN
 376           NaN
 377           NaN
 378           NaN
 379           NaN

 [380 rows x 112 columns],
            Date        HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
 0    13/05/2018        West Ham       Everton     3     1   H     1     0   H
 1    13/05/2018       Tottenham     Leicester     5     4   H     1     2   A
 2    13/05/2018         Swansea         Stoke     1     2   A     1     2   A
 3    13/05/2018     Southampton      Man City     0     1   A     0     0   D
 4    13/05/2018       Newcastle       Chelsea     3     0   H     1     0   H
 ..          ...             ...           ...   ...   ...  ..   ...   ...  ..
 375  12/08/2017         Everton         Stoke     1     0   H     1     0   H
 376  12/08/2017  Crystal Palace  Huddersfield     0     3   A     0     2   A
 377  12/08/2017         Chelsea       Burnley     2     3   A     0     3   A
 378  12/08/2017        Brighton      Man City     0     2   A     0     0   D
 379  11/08/2017         Arsenal     Leicester     4     3   H     2     2   D

      B365H  ...  t2_tt_v_r_3y  t2_ut_w_r_3y  t2_ut_g_r_3y  t2_ut_v_r_3y  \
 0     2.45  ...      0.263158      0.226667      0.333333          0.44
 1     1.33  ...           NaN           NaN           NaN           NaN
 2     1.90  ...           NaN           NaN           NaN           NaN
 3     9.00  ...           NaN           NaN           NaN           NaN
 4     6.50  ...           NaN           NaN           NaN           NaN
 ..     ...  ...           ...           ...           ...           ...
 375   1.70  ...           NaN           NaN           NaN           NaN
 376   1.83  ...           NaN           NaN           NaN           NaN
 377   1.25  ...           NaN           NaN           NaN           NaN
 378  11.00  ...           NaN           NaN           NaN           NaN
 379   1.53  ...           NaN           NaN           NaN           NaN

      t2_w_r_3y  t2_g_r_3y  t2_v_r_3y  df_t1_t2_t1w_r  df_t1_t2_t1v_r  \
 0     0.350993   0.298013   0.350993        0.142857        0.571429
 1          NaN        NaN        NaN             NaN             NaN
 2          NaN        NaN        NaN             NaN             NaN
 3          NaN        NaN        NaN             NaN             NaN
 4          NaN        NaN        NaN             NaN             NaN
 ..         ...        ...        ...             ...             ...
 375        NaN        NaN        NaN             NaN             NaN
 376        NaN        NaN        NaN             NaN             NaN
 377        NaN        NaN        NaN             NaN             NaN
 378        NaN        NaN        NaN             NaN             NaN
 379        NaN        NaN        NaN             NaN             NaN

      df_t1_t2_g_r
 0        0.285714
 1             NaN
 2             NaN
 3             NaN
 4             NaN
 ..            ...
 375           NaN
 376           NaN
 377           NaN
 378           NaN
 379           NaN

 [380 rows x 112 columns],
          Date        HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
 0    21/05/17         Watford        Man City     0     5   A     0     4   A
 1    21/05/17         Swansea       West Brom     2     1   H     0     1   A
 2    21/05/17     Southampton           Stoke     0     1   A     0     0   D
 3    21/05/17      Man United  Crystal Palace     2     0   H     2     0   H
 4    21/05/17       Liverpool   Middlesbrough     3     0   H     1     0   H
 ..        ...             ...             ...   ...   ...  ..   ...   ...  ..
 375  13/08/16        Man City      Sunderland     2     1   H     1     0   H
 376  13/08/16            Hull       Leicester     2     1   H     1     0   H
 377  13/08/16         Everton       Tottenham     1     1   D     1     0   H
 378  13/08/16  Crystal Palace       West Brom     0     1   A     0     0   D
 379  13/08/16         Burnley         Swansea     0     1   A     0     0   D

      B365H  ...  t2_tt_v_r_3y  t2_ut_w_r_3y  t2_ut_g_r_3y  t2_ut_v_r_3y  \
 0    11.00  ...      0.118421      0.506667      0.226667      0.266667
 1     2.10  ...           NaN           NaN           NaN           NaN
 2     1.80  ...           NaN           NaN           NaN           NaN
 3     2.50  ...           NaN           NaN           NaN           NaN
 4     1.14  ...           NaN           NaN           NaN           NaN
 ..     ...  ...           ...           ...           ...           ...
 375   1.25  ...           NaN           NaN           NaN           NaN
 376   4.50  ...           NaN           NaN           NaN           NaN
 377   3.20  ...           NaN           NaN           NaN           NaN
 378   2.00  ...           NaN           NaN           NaN           NaN
 379   2.40  ...           NaN           NaN           NaN           NaN

      t2_w_r_3y  t2_g_r_3y  t2_v_r_3y  df_t1_t2_t1w_r  df_t1_t2_t1v_r  \
 0     0.609272   0.198675   0.192053             0.0             1.0
 1          NaN        NaN        NaN             NaN             NaN
 2          NaN        NaN        NaN             NaN             NaN
 3          NaN        NaN        NaN             NaN             NaN
 4          NaN        NaN        NaN             NaN             NaN
 ..         ...        ...        ...             ...             ...
 375        NaN        NaN        NaN             NaN             NaN
 376        NaN        NaN        NaN             NaN             NaN
 377        NaN        NaN        NaN             NaN             NaN
 378        NaN        NaN        NaN             NaN             NaN
 379        NaN        NaN        NaN             NaN             NaN

      df_t1_t2_g_r
 0             0.0
 1             NaN
 2             NaN
 3             NaN
 4             NaN
 ..            ...
 375           NaN
 376           NaN
 377           NaN
 378           NaN
 379           NaN

 [380 rows x 112 columns]]

In [58]:
import numpy as np
for x in list(df.keys())[0:1]:
    index0 = list(df.keys()).index(x)
    index3 = index0 + 4
    df3 = pd.DataFrame()
    for i in range(index0,index3):  
        print(i)
        df3 = pd.concat([df3, pd.DataFrame.from_dict(df[list(df.keys())[i]])],axis = 0,ignore_index=False).reset_index(drop=True)
#     df[x] = df[x][['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','B365H','B365D','B365A']].reset_index(drop=True)
    for start, row in df[x].iterrows():
#         huidig seizoen
        
        # thuisteam iterate
        t = row['HomeTeam']
        
        # uitteam iterate
        u = row['AwayTeam']

        # wedstrijden seizoen
        end3 = len(df3)

        # team 1 dataframes
        df_t1_3y = df3.loc[(df3['HomeTeam'] == t) | (df3['AwayTeam'] == t)].iloc[1:]
        df_t1_tt_3y = df_t1_3y.loc[df_t1_3y['HomeTeam'] == t]
        df_t1_ut_3y = df_t1_3y.loc[df_t1_3y['AwayTeam'] == t]
        
        # team 2 dataframes
        df_t2_3y = df3.loc[(df3['HomeTeam'] == u) | (df3['AwayTeam'] == u)].iloc[1:]
        df_t2_tt_3y = df_t2_3y.loc[df_t2_3y['HomeTeam'] == u]
        df_t2_ut_3y = df_t2_3y.loc[df_t2_3y['AwayTeam'] == u]
        
        # team 1 counts win, gelijk en verlies
        df[x].loc[start,'t1_tt_w_3y'] = len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'H'])
        df[x].loc[start,'t1_ut_w_3y'] = len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'A'])
        df[x].loc[start,'t1_w_3y'] = len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'H']) + len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'A'])
        
        # team 1 thuiswedstrijden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t1_tt_w_r_3y'] = len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'H']) / len(df_t1_tt_3y) if len(df_t1_tt_3y) > 0 else np.nan
        df[x].loc[start,'t1_tt_g_r_3y'] = len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'D']) / len(df_t1_tt_3y) if len(df_t1_tt_3y) > 0 else np.nan
        df[x].loc[start,'t1_tt_v_r_3y'] = len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'A']) / len(df_t1_tt_3y) if len(df_t1_tt_3y) > 0 else np.nan
        
        # team 1 uitwedstrijden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t1_ut_w_r_3y'] = len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'A']) / len(df_t1_ut_3y) if len(df_t1_ut_3y) > 0 else np.nan
        df[x].loc[start,'t1_ut_g_r_3y'] = len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'D']) / len(df_t1_ut_3y) if len(df_t1_ut_3y) > 0 else np.nan
        df[x].loc[start,'t1_ut_v_r_3y'] = len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'H']) / len(df_t1_ut_3y) if len(df_t1_ut_3y) > 0 else np.nan
        
        # team 1 wedstirjden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t1_w_r_3y'] = (len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'H']) + len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'A'])) / len(df_t1_3y) if len(df_t1_3y) != 0 else np.nan
        df[x].loc[start,'t1_g_r_3y'] = (len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'D']) + len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'D'])) / len(df_t1_3y) if len(df_t1_3y) != 0 else np.nan
        df[x].loc[start,'t1_v_r_3y'] = (len(df_t1_tt_3y[df_t1_tt_3y['FTR'] == 'A']) + len(df_t1_ut_3y[df_t1_ut_3y['FTR'] == 'H'])) / len(df_t1_3y) if len(df_t1_3y) != 0 else np.nan
        
        
        # team 2 thuiswedstrijden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t2_tt_w_r_3y'] = len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'H']) / len(df_t2_tt_3y) if len(df_t2_tt_3y) > 0 else np.nan
        df[x].loc[start,'t2_tt_g_r_3y'] = len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'D']) / len(df_t2_tt_3y) if len(df_t2_tt_3y) > 0 else np.nan
        df[x].loc[start,'t2_tt_v_r_3y'] = len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'A']) / len(df_t2_tt_3y) if len(df_t2_tt_3y) > 0 else np.nan
        
        # team 2 uitwedstrijden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t2_ut_w_r_3y'] = len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'A']) / len(df_t2_ut_3y) if len(df_t2_ut_3y) > 0 else np.nan
        df[x].loc[start,'t2_ut_g_r_3y'] = len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'D']) / len(df_t2_ut_3y) if len(df_t2_ut_3y) > 0 else np.nan
        df[x].loc[start,'t2_ut_v_r_3y'] = len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'H']) / len(df_t2_ut_3y) if len(df_t2_ut_3y) > 0 else np.nan
        
        # team 2 wedstirjden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t2_w_r_3y'] = (len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'H']) + len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'A'])) / len(df_t2_3y) if len(df_t2_3y) != 0 else np.nan
        df[x].loc[start,'t2_g_r_3y'] = (len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'D']) + len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'D'])) / len(df_t2_3y) if len(df_t2_3y) != 0 else np.nan
        df[x].loc[start,'t2_v_r_3y'] = (len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'A']) + len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'H'])) / len(df_t2_3y) if len(df_t2_3y) != 0 else np.nan
        
        # gemeenschappelijk dataframe team 1 en team 2
        df_t1_t2_3y = df3.loc[((df3['HomeTeam'] == t) | (df3['HomeTeam'] == u)) & ((df3['AwayTeam'] == t) | (df3['AwayTeam'] == u))].iloc[1:]
        
        df[x].loc[start,'df_t1_t2_t1w_r'] = (len(df_t1_t2_3y[(df_t1_t2_3y['HomeTeam'] == t) & (df_t1_t2_3y['FTR'] == 'H')]) + len(df_t1_t2_3y[(df_t1_t2_3y['AwayTeam'] == t) & (df_t1_t2_3y['FTR'] == 'A')])) / len(df_t1_t2_3y) if len(df_t1_t2_3y) != 0 else np.nan
        df[x].loc[start,'df_t1_t2_t1v_r'] = (len(df_t1_t2_3y[(df_t1_t2_3y['HomeTeam'] == t) & (df_t1_t2_3y['FTR'] == 'H')]) + len(df_t1_t2_3y[(df_t1_t2_3y['AwayTeam'] == t) & (df_t1_t2_3y['FTR'] == 'A')])) / len(df_t1_t2_3y) if len(df_t1_t2_3y) != 0 else np.nan
        df[x].loc[start,'df_t1_t2_g_r'] = (len(df_t1_t2_3y[(df_t1_t2_3y['HomeTeam'] == t) & (df_t1_t2_3y['FTR'] == 'D')])+ len(df_t1_t2_3y[(df_t1_t2_3y['AwayTeam'] == t) & (df_t1_t2_3y['FTR'] == 'D')])) / len(df_t1_t2_3y) if len(df_t1_t2_3y) != 0 else np.nan

0
1
2
3

In [ ]:
        # team 2 thuiswedstrijden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t2_tt_w_r_3y'] = len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'H']) / len(df_t2_tt_3y) if len(df_t2_tt_3y) > 0 else np.nan
        df[x].loc[start,'t2_tt_g_r_3y'] = len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'D']) / len(df_t2_tt_3y) if len(df_t2_tt_3y) > 0 else np.nan
        df[x].loc[start,'t2_tt_v_r_3y'] = len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'A']) / len(df_t2_tt_3y) if len(df_t2_tt_3y) > 0 else np.nan
        
        # team 2 uitwedstrijden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t2_ut_w_r_3y'] = len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'A']) / len(df_t2_ut_3y) if len(df_t2_ut_3y) > 0 else np.nan
        df[x].loc[start,'t2_ut_g_r_3y'] = len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'D']) / len(df_t2_ut_3y) if len(df_t2_ut_3y) > 0 else np.nan
        df[x].loc[start,'t2_ut_v_r_3y'] = len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'H']) / len(df_t2_ut_3y) if len(df_t2_ut_3y) > 0 else np.nan
        
        # team 2 wedstirjden laatste 3 seizoenen thuis win, gelijk en verlies
        df[x].loc[start,'t2_w_r_3y'] = (len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'H']) + len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'A'])) / len(df_t2_3y) if len(df_t2_3y) != 0 else np.nan
        df[x].loc[start,'t2_g_r_3y'] = (len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'D']) + len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'D'])) / len(df_t2_3y) if len(df_t2_3y) != 0 else np.nan
        df[x].loc[start,'t2_v_r_3y'] = (len(df_t2_tt_3y[df_t2_tt_3y['FTR'] == 'A']) + len(df_t2_ut_3y[df_t2_ut_3y['FTR'] == 'H'])) / len(df_t2_3y) if len(df_t2_3y) != 0 else np.nan

In [46]:
df_t1_3y

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,LBH,LBD,LBA
17,E0,26/12/2020,15:00,Fulham,Southampton,0.0,0.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,E0,19/12/2020,20:00,Newcastle,Fulham,1.0,1.0,D,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,E0,16/12/2020,20:00,Fulham,Brighton,0.0,0.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,E0,13/12/2020,16:30,Fulham,Liverpool,1.0,1.0,D,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,E0,05/12/2020,15:00,Man City,Fulham,2.0,0.0,H,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,E0,30/11/2020,17:30,Leicester,Fulham,1.0,2.0,A,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,E0,22/11/2020,12:00,Fulham,Everton,2.0,3.0,A,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,E0,07/11/2020,20:00,West Ham,Fulham,1.0,0.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,E0,02/11/2020,17:30,Fulham,West Brom,2.0,0.0,H,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,E0,24/10/2020,15:00,Fulham,Crystal Palace,1.0,2.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,E0,18/10/2020,12:00,Sheffield United,Fulham,1.0,1.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,E0,04/10/2020,14:00,Wolves,Fulham,1.0,0.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,E0,28/09/2020,17:45,Fulham,Aston Villa,0.0,3.0,A,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,E0,19/09/2020,15:00,Leeds,Fulham,4.0,3.0,H,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,E0,12/09/2020,12:30,Fulham,Arsenal,0.0,3.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,E0,12/05/2019,NaN,Fulham,Newcastle,0.0,4.0,A,0.0,2.0,...,2.08,18.0,-0.25,2.21,2.15,1.80,1.75,NaN,NaN,NaN
551,E0,04/05/2019,NaN,Wolves,Fulham,1.0,0.0,H,0.0,0.0,...,2.03,21.0,-1.00,1.99,1.93,2.00,1.94,NaN,NaN,NaN
563,E0,27/04/2019,NaN,Fulham,Cardiff,1.0,0.0,H,0.0,0.0,...,2.11,17.0,0.00,1.80,1.74,2.23,2.15,NaN,NaN,NaN
580,E0,20/04/2019,NaN,Bournemouth,Fulham,0.0,1.0,A,0.0,0.0,...,2.46,19.0,-1.00,2.19,2.11,1.81,1.77,NaN,NaN,NaN
588,E0,13/04/2019,NaN,Fulham,Everton,2.0,0.0,H,0.0,0.0,...,2.14,19.0,0.75,1.95,1.91,2.01,1.96,NaN,NaN,NaN
602,E0,02/04/2019,NaN,Watford,Fulham,4.0,1.0,H,1.0,1.0,...,2.17,18.0,-1.00,2.37,2.29,1.70,1.67,NaN,NaN,NaN
609,E0,30/03/2019,NaN,Fulham,Man City,0.0,2.0,A,0.0,2.0,...,3.55,21.0,2.50,1.94,1.90,2.02,1.95,NaN,NaN,NaN
613,E0,17/03/2019,NaN,Fulham,Liverpool,1.0,2.0,A,0.0,1.0,...,2.62,21.0,1.50,2.25,2.19,1.75,1.72,NaN,NaN,NaN
624,E0,09/03/2019,NaN,Leicester,Fulham,3.0,1.0,H,1.0,0.0,...,2.19,21.0,-1.00,2.05,2.00,1.91,1.86,NaN,NaN,NaN
629,E0,03/03/2019,NaN,Fulham,Chelsea,1.0,2.0,A,1.0,2.0,...,2.21,20.0,1.00,2.09,2.02,1.90,1.84,NaN,NaN,NaN
638,E0,27/02/2019,NaN,Southampton,Fulham,2.0,0.0,H,2.0,0.0,...,1.92,19.0,-0.75,2.24,2.17,1.76,1.73,NaN,NaN,NaN
654,E0,22/02/2019,NaN,West Ham,Fulham,3.0,1.0,H,2.0,1.0,...,2.18,19.0,-1.00,2.77,2.67,1.55,1.50,NaN,NaN,NaN
663,E0,09/02/2019,NaN,Fulham,Man United,0.0,3.0,A,0.0,2.0,...,2.34,22.0,1.00,1.90,1.84,2.07,2.02,NaN,NaN,NaN
672,E0,02/02/2019,NaN,Crystal Palace,Fulham,2.0,0.0,H,1.0,0.0,...,1.84,19.0,-0.25,1.77,1.74,2.23,2.16,NaN,NaN,NaN
685,E0,29/01/2019,NaN,Fulham,Brighton,4.0,2.0,H,0.0,2.0,...,1.66,20.0,-0.25,2.08,2.02,1.89,1.86,NaN,NaN,NaN
688,E0,20/01/2019,NaN,Fulham,Tottenham,1.0,2.0,A,1.0,0.0,...,1.94,22.0,1.00,1.71,1.65,2.37,2.30,NaN,NaN,NaN
705,E0,12/01/2019,NaN,Burnley,Fulham,2.0,1.0,H,2.0,1.0,...,1.76,22.0,-0.25,2.06,2.02,1.90,1.87,NaN,NaN,NaN
716,E0,01/01/2019,NaN,Arsenal,Fulham,4.0,1.0,H,1.0,0.0,...,2.72,23.0,-1.50,2.00,1.95,1.95,1.91,NaN,NaN,NaN
725,E0,29/12/2018,NaN,Fulham,Huddersfield,1.0,0.0,H,0.0,0.0,...,1.62,21.0,-0.25,1.82,1.75,2.20,2.15,NaN,NaN,NaN
733,E0,26/12/2018,NaN,Fulham,Wolves,1.0,1.0,D,0.0,0.0,...,1.78,21.0,0.25,1.90,1.85,2.09,2.03,NaN,NaN,NaN
739,E0,22/12/2018,NaN,Newcastle,Fulham,0.0,0.0,D,0.0,0.0,...,1.89,21.0,-0.25,1.77,1.71,2.30,2.21,NaN,NaN,NaN
755,E0,15/12/2018,NaN,Fulham,West Ham,0.0,2.0,A,0.0,2.0,...,2.27,21.0,0.25,1.85,1.80,2.14,2.08,NaN,NaN,NaN
760,E0,08/12/2018,NaN,Man United,Fulham,4.0,1.0,H,3.0,0.0,...,2.42,23.0,-1.50,2.11,2.02,1.90,1.83,NaN,NaN,NaN
770,E0,05/12/2018,NaN,Fulham,Leicester,1.0,1.0,D,1.0,0.0,...,2.03,21.0,0.25,1.85,1.81,2.12,2.08,NaN,NaN,NaN
778,E0,02/12/2018,NaN,Chelsea,Fulham,2.0,0.0,H,1.0,0.0,...,3.18,22.0,-2.00,1.86,1.81,2.15,2.06,NaN,NaN,NaN
794,E0,24/11/2018,NaN,Fulham,Southampton,3.0,2.0,H,2.0,1.0,...,1.91,20.0,-0.25,2.29,2.23,1.73,1.69,NaN,NaN,NaN
798,E0,11/11/2018,NaN,Liverpool,Fulham,2.0,0.0,H,1.0,0.0,...,3.96,20.0,-2.75,2.08,2.00,1.90,1.87,NaN,NaN,NaN
807,E0,05/11/2018,NaN,Huddersfield,Fulham,1.0,0.0,H,1.0,0.0,...,1.86,19.0,-0.25,2.01,1.96,1.95,1.91,NaN,NaN,NaN
825,E0,27/10/2018,NaN,Fulham,Bournemouth,0.0,3.0,A,0.0,1.0,...,2.48,18.0,0.25,1.85,1.81,2.15,2.08,NaN,NaN,NaN
835,E0,20/10/2018,NaN,Cardiff,Fulham,4.0,2.0,H,2.0,2.0,...,2.00,20.0,-0.25,2.19,2.12,1.81,1.77,NaN,NaN,NaN
839,E0,07/10/2018,NaN,Fulham,Arsenal,1.0,5.0,A,1.0,1.0,...,2.80,20.0,1.00,1.86,1.80,2.13,2.07,NaN,NaN,NaN
854,E0,29/09/2018,NaN,Everton,Fulham,3.0,0.0,H,0.0,0.0,...,2.31,23.0,-1.00,2.35,2.26,1.75,1.67,NaN,NaN,NaN
862,E0,22/09/2018,NaN,Fulham,Watford,1.0,1.0,D,0.0,1.0,...,2.06,22.0,-0.25,2.17,2.12,1.82,1.77,NaN,NaN,NaN
873,E0,15/09/2018,NaN,Man City,Fulham,3.0,0.0,H,2.0,0.0,...,3.85,23.0,-2.50,2.00,1.95,1.96,1.92,NaN,NaN,NaN
886,E0,01/09/2018,NaN,Brighton,Fulham,2.0,2.0,D,0.0,1.0,...,1.88,20.0,-0.25,1.95,1.91,2.01,1.96,NaN,NaN,NaN
890,E0,26/08/2018,NaN,Fulham,Burnley,4.0,2.0,H,3.0,2.0,...,1.65,20.0,-0.25,1.74,1.69,2.32,2.22,NaN,NaN,NaN
902,E0,18/08/2018,NaN,Tottenham,Fulham,3.0,1.0,H,1.0,0.0,...,2.54,21.0,-1.75,2.06,2.00,1.91,1.86,NaN,NaN,NaN
914,E0,11/08/2018,NaN,Fulham,Crystal Palace,0.0,2.0,A,0.0,1.0,...,1.87,22.0,-0.25,2.18,2.11,1.81,1.77,NaN,NaN,NaN

In [24]:
for i in range(index3,index0):
    print(i)

In [31]:
df3

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,LBH,LBD,LBA
11,E0,30/12/2020,20:00,Newcastle,Liverpool,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,E0,30/12/2020,18:00,Tottenham,Fulham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,E0,29/12/2020,20:00,Man United,Wolves,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,E0,29/12/2020,18:00,West Brom,Leeds,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,E0,29/12/2020,18:00,Southampton,West Ham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,E0,12/08/2017,NaN,Everton,Stoke,1.0,0.0,H,1.0,0.0,...,1.76,19.0,-0.75,1.94,1.90,2.01,1.98,1.67,3.60,5.25
3,E0,12/08/2017,NaN,Crystal Palace,Huddersfield,0.0,3.0,A,0.0,2.0,...,1.72,18.0,-0.75,2.10,2.05,1.86,1.83,1.80,3.40,4.60
2,E0,12/08/2017,NaN,Chelsea,Burnley,2.0,3.0,A,0.0,3.0,...,2.23,20.0,-1.75,2.03,1.97,1.95,1.90,1.25,5.75,15.00
1,E0,12/08/2017,NaN,Brighton,Man City,0.0,2.0,A,0.0,0.0,...,2.27,20.0,1.50,1.95,1.91,2.01,1.96,10.00,5.00,1.30
0,E0,11/08/2017,NaN,Arsenal,Leicester,4.0,3.0,H,2.0,2.0,...,2.32,21.0,-1.00,1.91,1.85,2.10,2.02,1.44,4.40,6.50

In [ ]:
pd.set_option('display.max_rows',None)
print(df_self)

In [ ]:
dataframe = pd.DataFrame()
count = 0
for i in range(0,6):
    count += (len(data[list(data.keys())[i]]))
    print(count)
    dataframe = pd.concat([dataframe,data[list(data.keys())[i]]],axis=0)

In [ ]:
dataframe

In [ ]:
data['program']

In [ ]:
# d3 = {
#     "t1_wO3y":[],
#     "t1_gO3y":[],
#     "t1_vO3y":[],
#     "t1_wO3yr":[],
#     "t1_gO3yr":[],
#     "t1_vO3yr":[],
    
#     "t1_ttwO3y":[],
#     "t1_ttgO3y":[],
#     "t1_ttvO3y":[],
#     "t1_ttwO3yr":[],
#     "t1_ttgO3yr":[],
#     "t1_ttvO3yr":[],
    
#     "t1_utwO3y":[],
#     "t1_utgO3y":[],
#     "t1_utvO3y":[],
#     "t1_utwO3yr":[],
#     "t1_utgO3yr":[],
#     "t1_utvO3yr":[],
#     "t1_ttgfO3yr":[],
#     "t1_ttgaO3yr":[],
#     "t1_utgfO3yr":[],
#     "t1_utgaO3yr":[],

#     "t1_w3y":[],
#     "t1_g3y":[],
#     "t1_v3y":[],
#     "t1_w3yr":[],
#     "t1_g3yr":[],
#     "t1_v3yr":[],
#     "t1_tt_w3y":[],
#     "t1_tt_g3y":[],
#     "t1_tt_v3y":[],
#     "t1_tt_w3yr":[],
#     "t1_tt_g3yr":[],
#     "t1_tt_v3yr":[],
#     "t1_tt_ga3y":[],
#     "t1_tt_gf3y":[],
#     "t1_tt_tg3y":[],
#     "t1_ut_w3y":[],
#     "t1_ut_g3y":[],
#     "t1_ut_v3y":[],
#     "t1_ut_w3yr":[],
#     "t1_ut_g3yr":[],
#     "t1_ut_v3yr":[],
#     "t1_ut_ga3y":[],
#     "t1_ut_gf3y":[],
#     "t1_ut_tg3y":[],
#     "t1_gf3y":[],
#     't1_ga3y':[],
#     "t1_tg3y":[],
#     "t2_w3y":[],
#     "t2_g3y":[],
#     "t2_v3y":[],
#     "t2_w3yr":[],
#     "t2_g3yr":[],
#     "t2_v3yr":[],
#     "t2_tt_w3y":[],
#     "t2_tt_g3y":[],
#     "t2_tt_v3y":[],
#     "t2_tt_w3yr":[],
#     "t2_tt_g3yr":[],
#     "t2_tt_v3yr":[],
#     "t2_tt_ga3y":[],
#     "t2_tt_gf3y":[],
#     "t2_tt_tg3y":[],
#     "t2_ut_w3y":[],
#     "t2_ut_g3y":[],
#     "t2_ut_v3y":[],
#     "t2_ut_w3yr":[],
#     "t2_ut_g3yr":[],
#     "t2_ut_v3yr":[],
#     "t2_ut_ga3y":[],
#     "t2_ut_gf3y":[],
#     "t2_ut_tg3y":[],
#     "t2_gf3y":[],
#     't2_ga3y':[],
#     "t2_tg3y":[]

# }


#     for start, (t,u) in enumerate((zip(df3['HomeTeam'],df3['AwayTeam']))):

#         df_t1t2_3y = df3[((df3['HomeTeam'] == t) | (df3['AwayTeam'] == t)) & ((df3['HomeTeam'] == u) | (df3['AwayTeam'] == u))]
#         df_t1ttt2ut_3y = df3[(df3['HomeTeam'] == t) & (df3['AwayTeam'] == u)]
#         df_t1utt2tt_3y = df3[(df3['HomeTeam'] == u) & (df3['AwayTeam'] == t)]


#         df_t1_3y = df3[(df3['HomeTeam'] == t) | (df3['AwayTeam'] == t)]
#         df_t1_tt_3y = df3[(df3['HomeTeam'] == t)]
#         df_t1_ut_3y = df3[(df3['AwayTeam'] == t)]

#         df_t2_3y = df3[(df3['HomeTeam'] == u) | (df3['AwayTeam'] == u)]
#         df_t2_tt_3y = df3[(df3['HomeTeam'] == u)]
#         df_t2_ut_3y = df3[(df3['AwayTeam'] == u)]

#             #T1 and T2 ontmoeting totaal
#         if len(df_t1t2_3y) != 0:
#             d3["t1_wO3y"].append(len(df_t1t2_3y[((df_t1t2_3y['HomeTeam'] == t) & (df_t1t2_3y['FTR'] =='H')) | ((df_t1t2_3y['AwayTeam'] == t) & (df_t1t2_3y['FTR'] =='A'))]))
#             d3["t1_gO3y"].append((len(df_t1t2_3y[((df_t1t2_3y['HomeTeam'] == t) & (df_t1t2_3y['FTR'] =='D')) | ((df_t1t2_3y['AwayTeam'] == t) & (df_t1t2_3y['FTR'] =='D'))])))
#             d3["t1_vO3y"].append(len(df_t1t2_3y[((df_t1t2_3y['HomeTeam'] == t) & (df_t1t2_3y['FTR'] =='D')) | ((df_t1t2_3y['AwayTeam'] == t) & (df_t1t2_3y['FTR'] =='H'))]))
#             d3["t1_wO3yr"].append((len(df_t1t2_3y[((df_t1t2_3y['HomeTeam'] == t) & (df_t1t2_3y['FTR'] =='H')) | ((df_t1t2_3y['AwayTeam'] == t) & (df_t1t2_3y['FTR'] =='A'))]))/len(df_t1t2_3y))
#             d3["t1_gO3yr"].append((len(df_t1t2_3y[((df_t1t2_3y['HomeTeam'] == t) & (df_t1t2_3y['FTR'] =='D')) | ((df_t1t2_3y['AwayTeam'] == t) & (df_t1t2_3y['FTR'] =='D'))]))/len(df_t1t2_3y))
#             d3["t1_vO3yr"].append((len(df_t1t2_3y[((df_t1t2_3y['HomeTeam'] == t) & (df_t1t2_3y['FTR'] =='A')) | ((df_t1t2_3y['AwayTeam'] == t) & (df_t1t2_3y['FTR'] =='H'))]))/len(df_t1t2_3y))
#         else:
#             d3["t1_wO3y"].append(np.nan)
#             d3["t1_gO3y"].append(np.nan)
#             d3["t1_vO3y"].append(np.nan)
#             d3["t1_wO3yr"].append(np.nan)
#             d3["t1_gO3yr"].append(np.nan)
#             d3["t1_vO3yr"].append(np.nan)

#             # t1 tt t2ut
#         if len(df_t1ttt2ut_3y) != 0:
#             d3["t1_ttwO3y"].append(len(df_t1ttt2ut_3y[((df_t1ttt2ut_3y['HomeTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='H')) | ((df_t1ttt2ut_3y['AwayTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='A'))]))
#             d3["t1_ttgO3y"].append((len(df_t1ttt2ut_3y[((df_t1ttt2ut_3y['HomeTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='D')) | ((df_t1ttt2ut_3y['AwayTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='D'))])))
#             d3["t1_ttvO3y"].append(len(df_t1ttt2ut_3y[((df_t1ttt2ut_3y['HomeTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='D')) | ((df_t1ttt2ut_3y['AwayTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='H'))]))
#             d3["t1_ttwO3yr"].append((len(df_t1ttt2ut_3y[((df_t1ttt2ut_3y['HomeTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='H')) | ((df_t1ttt2ut_3y['AwayTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='A'))]))/len(df_t1ttt2ut_3y))
#             d3["t1_ttgO3yr"].append((len(df_t1ttt2ut_3y[((df_t1ttt2ut_3y['HomeTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='D')) | ((df_t1ttt2ut_3y['AwayTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='D'))]))/len(df_t1ttt2ut_3y))
#             d3["t1_ttvO3yr"].append((len(df_t1ttt2ut_3y[((df_t1ttt2ut_3y['HomeTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='A')) | ((df_t1ttt2ut_3y['AwayTeam'] == t) & (df_t1ttt2ut_3y['FTR'] =='H'))]))/len(df_t1ttt2ut_3y))

#             d3["t1_ttgfO3yr"].append(sum(df_t1ttt2ut_3y['FTHG'])/len(df_t1ttt2ut_3y))
#             d3["t1_ttgaO3yr"].append(sum(df_t1ttt2ut_3y['FTAG'])/len(df_t1ttt2ut_3y))


#         else:
#             d3["t1_ttwO3y"].append(np.nan)
#             d3["t1_ttgO3y"].append(np.nan)
#             d3["t1_ttvO3y"].append(np.nan)
#             d3["t1_ttwO3yr"].append(np.nan)
#             d3["t1_ttgO3yr"].append(np.nan)
#             d3["t1_ttvO3yr"].append(np.nan)
#             d3["t1_ttgfO3yr"].append(np.nan)
#             d3["t1_ttgaO3yr"].append(np.nan)

#             # t1 utteam t2 ut ontmoeting
#         if len(df_t1utt2tt_3y) != 0:
#             d3["t1_utwO3y"].append(len(df_t1utt2tt_3y[((df_t1utt2tt_3y['HomeTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='H')) | ((df_t1utt2tt_3y['AwayTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='A'))]))
#             d3["t1_utgO3y"].append((len(df_t1utt2tt_3y[((df_t1utt2tt_3y['HomeTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='D')) | ((df_t1utt2tt_3y['AwayTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='D'))])))
#             d3["t1_utvO3y"].append(len(df_t1utt2tt_3y[((df_t1utt2tt_3y['HomeTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='A')) | ((df_t1utt2tt_3y['AwayTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='H'))]))
#             d3["t1_utwO3yr"].append((len(df_t1utt2tt_3y[((df_t1utt2tt_3y['HomeTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='H')) | ((df_t1utt2tt_3y['AwayTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='A'))]))/len(df_t1utt2tt_3y))
#             d3["t1_utgO3yr"].append((len(df_t1utt2tt_3y[((df_t1utt2tt_3y['HomeTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='D')) | ((df_t1utt2tt_3y['AwayTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='D'))]))/len(df_t1utt2tt_3y))
#             d3["t1_utvO3yr"].append((len(df_t1utt2tt_3y[((df_t1utt2tt_3y['HomeTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='A')) | ((df_t1utt2tt_3y['AwayTeam'] == t) & (df_t1utt2tt_3y['FTR'] =='H'))]))/len(df_t1utt2tt_3y))
#             d3["t1_utgaO3yr"].append(sum(df_t1utt2tt_3y['FTHG'])/len(df_t1utt2tt_3y))
#             d3["t1_utgfO3yr"].append(sum(df_t1utt2tt_3y['FTAG'])/len(df_t1utt2tt_3y))

#         else:
#             d3["t1_utwO3y"].append(np.nan)
#             d3["t1_utgO3y"].append(np.nan)
#             d3["t1_utvO3y"].append(np.nan)
#             d3["t1_utwO3yr"].append(np.nan)
#             d3["t1_utgO3yr"].append(np.nan)
#             d3["t1_utvO3yr"].append(np.nan) 
#             d3["t1_utgfO3yr"].append(np.nan)
#             d3["t1_utgaO3yr"].append(np.nan)


#         if len(df_t1_3y) > 0:
#             d3["t1_w3y"].append(len(df_t1_3y[((df_t1_3y['HomeTeam'] == t) & (df_t1_3y['FTR'] =='H')) | ((df_t1_3y['AwayTeam'] == t) & (df_t1_3y['FTR'] =='A'))]))
#             d3["t1_g3y"].append((len(df_t1_3y[((df_t1_3y['HomeTeam'] == t) & (df_t1_3y['FTR'] =='D')) | ((df_t1_3y['AwayTeam'] == t) & (df_t1_3y['FTR'] =='D'))])))
#             d3["t1_v3y"].append(len(df_t1_3y[((df_t1_3y['HomeTeam'] == t) & (df_t1_3y['FTR'] =='A')) | ((df_t1_3y['AwayTeam'] == t) & (df_t1_3y['FTR'] =='H'))]))
#             d3["t1_w3yr"].append((len(df_t1_3y[((df_t1_3y['HomeTeam'] == t) & (df_t1_3y['FTR'] =='H')) | ((df_t1_3y['AwayTeam'] == t) & (df_t1_3y['FTR'] =='A'))]))/len(df_t1_3y))
#             d3["t1_g3yr"].append((len(df_t1_3y[((df_t1_3y['HomeTeam'] == t) & (df_t1_3y['FTR'] =='D')) | ((df_t1_3y['AwayTeam'] == t) & (df_t1_3y['FTR'] =='D'))]))/len(df_t1_3y))
#             d3["t1_v3yr"].append((len(df_t1_3y[((df_t1_3y['HomeTeam'] == t) & (df_t1_3y['FTR'] =='A')) | ((df_t1_3y['AwayTeam'] == t) & (df_t1_3y['FTR'] =='H'))]))/len(df_t1_3y))
#             d3['t1_tg3y'].append((sum(df_t1_3y['FTHG']) + sum(df_t1_3y['FTAG']))/len(df_t1_3y))
#             d3['t1_gf3y'].append(((sum(df_t1_3y['FTHG'][((df_t1_3y['HomeTeam'] == t))])+(sum(df_t1_3y['FTAG'][((df_t1_3y['AwayTeam'] == t))])))/len(df_t1_3y)))
#             d3['t1_ga3y'].append(((sum(df_t1_3y['FTHG'][((df_t1_3y['HomeTeam'] != t))])+(sum(df_t1_3y['FTAG'][((df_t1_3y['AwayTeam'] != t))])))/len(df_t1_3y)))
#         else:
#             d3["t1_w3y"].append(np.nan)
#             d3["t1_g3y"].append(np.nan)
#             d3["t1_v3y"].append(np.nan)
#             d3["t1_w3yr"].append(np.nan)
#             d3["t1_g3yr"].append(np.nan)
#             d3["t1_v3yr"].append(np.nan)
#             d3['t1_tg3y'].append(np.nan)
#             d3['t1_gf3y'].append(np.nan)

#         if len(df_t1_tt_3y) > 0:
#             d3["t1_tt_w3y"].append(len(df_t1_tt_3y[((df_t1_tt_3y['HomeTeam'] == t) & (df_t1_tt_3y['FTR'] =='H'))]))
#             d3["t1_tt_g3y"].append(len(df_t1_tt_3y[((df_t1_tt_3y['HomeTeam'] == t) & (df_t1_tt_3y['FTR'] =='D'))]))
#             d3["t1_tt_v3y"].append(len(df_t1_tt_3y[((df_t1_tt_3y['HomeTeam'] == t) & (df_t1_tt_3y['FTR'] =='A'))]))
#             d3["t1_tt_w3yr"].append((len(df_t1_tt_3y[((df_t1_tt_3y['HomeTeam'] == t) & (df_t1_tt_3y['FTR'] =='H'))]))/len(df_t1_tt_3y))
#             d3["t1_tt_g3yr"].append((len(df_t1_tt_3y[((df_t1_tt_3y['HomeTeam'] == t) & (df_t1_tt_3y['FTR'] =='D'))]))/len(df_t1_tt_3y))
#             d3["t1_tt_v3yr"].append((len(df_t1_tt_3y[((df_t1_tt_3y['HomeTeam'] == t) & (df_t1_tt_3y['FTR'] =='A'))]))/len(df_t1_tt_3y))

#             d3['t1_tt_tg3y'].append((sum(df_t1_tt_3y['FTHG']) + sum(df_t1_tt_3y['FTAG']))/len(df_t1_tt_3y))
#             d3['t1_tt_gf3y'].append((sum(df_t1_tt_3y['FTHG'][((df_t1_tt_3y['HomeTeam'] == t))])/len(df_t1_tt_3y)))
#             d3['t1_tt_ga3y'].append((sum(df_t1_tt_3y['FTAG'][((df_t1_tt_3y['HomeTeam'] == t))])/len(df_t1_tt_3y)))
#         else:
#             d3["t1_tt_w3y"].append(np.nan)
#             d3["t1_tt_g3y"].append(np.nan)
#             d3["t1_tt_v3y"].append(np.nan)
#             d3["t1_tt_w3yr"].append(np.nan)
#             d3["t1_tt_g3yr"].append(np.nan)
#             d3["t1_tt_v3yr"].append(np.nan)
#             d3['t1_tt_tg3y'].append(np.nan)
#             d3['t1_tt_gf3y'].append(np.nan)
#             d3['t1_tt_ga3y'].append(np.nan)

#         if len(df_t1_ut_3y) != 0:
#             d3["t1_ut_w3y"].append(len(df_t1_ut_3y[((df_t1_ut_3y['AwayTeam'] == t) & (df_t1_ut_3y['FTR'] =='H'))]))
#             d3["t1_ut_g3y"].append(len(df_t1_ut_3y[((df_t1_ut_3y['AwayTeam'] == t) & (df_t1_ut_3y['FTR'] =='D'))]))
#             d3["t1_ut_v3y"].append(len(df_t1_ut_3y[((df_t1_ut_3y['AwayTeam'] == t) & (df_t1_ut_3y['FTR'] =='A'))]))
#             d3["t1_ut_w3yr"].append((len(df_t1_ut_3y[((df_t1_ut_3y['AwayTeam'] == t) & (df_t1_ut_3y['FTR'] =='H'))]))/len(df_t1_ut_3y))
#             d3["t1_ut_g3yr"].append((len(df_t1_ut_3y[((df_t1_ut_3y['AwayTeam'] == t) & (df_t1_ut_3y['FTR'] =='D'))]))/len(df_t1_ut_3y))
#             d3["t1_ut_v3yr"].append((len(df_t1_ut_3y[((df_t1_ut_3y['AwayTeam'] == t) & (df_t1_ut_3y['FTR'] =='A'))]))/len(df_t1_ut_3y))

#             d3['t1_ut_tg3y'].append((sum(df_t1_ut_3y['FTHG']) + sum(df_t1_ut_3y['FTAG']))/len(df_t1_ut_3y))
#             d3['t1_ut_gf3y'].append((sum(df_t1_ut_3y['FTHG'][((df_t1_ut_3y['AwayTeam'] == t))])/len(df_t1_ut_3y)))
#             d3['t1_ut_ga3y'].append((sum(df_t1_ut_3y['FTAG'][((df_t1_ut_3y['AwayTeam'] == t))])/len(df_t1_ut_3y)))
#         else:
#             d3["t1_ut_w3y"].append(np.nan)
#             d3["t1_ut_g3y"].append(np.nan)
#             d3["t1_ut_v3y"].append(np.nan)
#             d3["t1_ut_w3yr"].append(np.nan)
#             d3["t1_ut_g3yr"].append(np.nan)
#             d3["t1_ut_v3yr"].append(np.nan)
#             d3['t1_ut_tg3y'].append(np.nan)
#             d3['t1_ut_gf3y'].append(np.nan)
#             d3['t1_ut_ga3y'].append(np.nan)

#         if len(df_t2_3y) != 0:
#             d3["t2_w3y"].append(len(df_t2_3y[((df_t2_3y['HomeTeam'] == u) & (df_t2_3y['FTR'] =='H')) | ((df_t2_3y['AwayTeam'] == u) & (df_t2_3y['FTR'] =='A'))]))
#             d3["t2_g3y"].append((len(df_t2_3y[((df_t2_3y['HomeTeam'] == u) & (df_t2_3y['FTR'] =='D')) | ((df_t2_3y['AwayTeam'] == u) & (df_t2_3y['FTR'] =='D'))])))
#             d3["t2_v3y"].append(len(df_t2_3y[((df_t2_3y['HomeTeam'] == u) & (df_t2_3y['FTR'] =='A')) | ((df_t2_3y['AwayTeam'] == u) & (df_t2_3y['FTR'] =='H'))]))
#             d3["t2_w3yr"].append((len(df_t2_3y[((df_t2_3y['HomeTeam'] == u) & (df_t2_3y['FTR'] =='H')) | ((df_t2_3y['AwayTeam'] == u) & (df_t2_3y['FTR'] =='A'))]))/len(df_t2_3y))
#             d3["t2_g3yr"].append((len(df_t2_3y[((df_t2_3y['HomeTeam'] == u) & (df_t2_3y['FTR'] =='D')) | ((df_t2_3y['AwayTeam'] == u) & (df_t2_3y['FTR'] =='D'))]))/len(df_t2_3y))
#             d3["t2_v3yr"].append((len(df_t2_3y[((df_t2_3y['HomeTeam'] == u) & (df_t2_3y['FTR'] =='A')) | ((df_t2_3y['AwayTeam'] == u) & (df_t2_3y['FTR'] =='H'))]))/len(df_t2_3y))
#             d3['t2_tg3y'].append((sum(df_t2_3y['FTHG']) + sum(df_t2_3y['FTAG']))/len(df_t2_3y))
#             d3['t2_gf3y'].append(((sum(df_t2_3y['FTHG'][((df_t2_3y['HomeTeam'] == u))])+(sum(df_t2_3y['FTAG'][((df_t2_3y['AwayTeam'] == t))])))/len(df_t2_3y)))
#             d3['t2_ga3y'].append(((sum(df_t2_3y['FTHG'][((df_t2_3y['HomeTeam'] != u))])+(sum(df_t2_3y['FTAG'][((df_t2_3y['AwayTeam'] != t))])))/len(df_t2_3y)))
#         else:
#             d3["t2_w3y"].append(np.nan)
#             d3["t2_g3y"].append(np.nan)
#             d3["t2_v3y"].append(np.nan)
#             d3["t2_w3yr"].append(np.nan)
#             d3["t2_g3yr"].append(np.nan)
#             d3["t2_v3yr"].append(np.nan)
#             d3['t2_tg3y'].append(np.nan)
#             d3['t2_gf3y'].append(np.nan)

#         if len(df_t2_tt_3y) != 0:
#             d3["t2_tt_w3y"].append(len(df_t2_tt_3y[((df_t2_tt_3y['HomeTeam'] == u) & (df_t2_tt_3y['FTR'] =='H'))]))
#             d3["t2_tt_g3y"].append(len(df_t2_tt_3y[((df_t2_tt_3y['HomeTeam'] == u) & (df_t2_tt_3y['FTR'] =='D'))]))
#             d3["t2_tt_v3y"].append(len(df_t2_tt_3y[((df_t2_tt_3y['HomeTeam'] == u) & (df_t2_tt_3y['FTR'] =='A'))]))
#             d3["t2_tt_w3yr"].append((len(df_t2_tt_3y[((df_t2_tt_3y['HomeTeam'] == u) & (df_t2_tt_3y['FTR'] =='H'))]))/len(df_t2_tt_3y))
#             d3["t2_tt_g3yr"].append((len(df_t2_tt_3y[((df_t2_tt_3y['HomeTeam'] == u) & (df_t2_tt_3y['FTR'] =='D'))]))/len(df_t2_tt_3y))
#             d3["t2_tt_v3yr"].append((len(df_t2_tt_3y[((df_t2_tt_3y['HomeTeam'] == u) & (df_t2_tt_3y['FTR'] =='A'))]))/len(df_t2_tt_3y))

#             d3['t2_tt_tg3y'].append((sum(df_t2_tt_3y['FTHG']) + sum(df_t2_tt_3y['FTAG']))/len(df_t2_tt_3y))
#             d3['t2_tt_gf3y'].append((sum(df_t2_tt_3y['FTHG'][((df_t2_tt_3y['HomeTeam'] == u))])/len(df_t2_tt_3y)))
#             d3['t2_tt_ga3y'].append((sum(df_t2_tt_3y['FTAG'][((df_t2_tt_3y['HomeTeam'] == u))])/len(df_t2_tt_3y)))
#         else:
#             d3["t2_tt_w3y"].append(np.nan)
#             d3["t2_tt_g3y"].append(np.nan)
#             d3["t2_tt_v3y"].append(np.nan)
#             d3["t2_tt_w3yr"].append(np.nan)
#             d3["t2_tt_g3yr"].append(np.nan)
#             d3["t2_tt_v3yr"].append(np.nan)
#             d3['t2_tt_tg3y'].append(np.nan)
#             d3['t2_tt_gf3y'].append(np.nan)
#             d3['t2_tt_ga3y'].append(np.nan)

#         if len(df_t2_ut_3y) != 0:
#             d3["t2_ut_w3y"].append(len(df_t2_ut_3y[((df_t2_ut_3y['AwayTeam'] == u) & (df_t2_ut_3y['FTR'] =='H'))]))
#             d3["t2_ut_g3y"].append(len(df_t2_ut_3y[((df_t2_ut_3y['AwayTeam'] == u) & (df_t2_ut_3y['FTR'] =='D'))]))
#             d3["t2_ut_v3y"].append(len(df_t2_ut_3y[((df_t2_ut_3y['AwayTeam'] == u) & (df_t2_ut_3y['FTR'] =='A'))]))
#             d3["t2_ut_w3yr"].append((len(df_t2_ut_3y[((df_t2_ut_3y['AwayTeam'] == u) & (df_t2_ut_3y['FTR'] =='H'))]))/len(df_t2_ut_3y))
#             d3["t2_ut_g3yr"].append((len(df_t2_ut_3y[((df_t2_ut_3y['AwayTeam'] == u) & (df_t2_ut_3y['FTR'] =='D'))]))/len(df_t2_ut_3y))
#             d3["t2_ut_v3yr"].append((len(df_t2_ut_3y[((df_t2_ut_3y['AwayTeam'] == u) & (df_t2_ut_3y['FTR'] =='A'))]))/len(df_t2_ut_3y))

#             d3['t2_ut_tg3y'].append((sum(df_t2_ut_3y['FTHG']) + sum(df_t2_ut_3y['FTAG']))/len(df_t2_ut_3y))
#             d3['t2_ut_gf3y'].append((sum(df_t2_ut_3y['FTAG'][((df_t2_ut_3y['AwayTeam'] == u))])/len(df_t2_ut_3y)))
#             d3['t2_ut_ga3y'].append((sum(df_t2_ut_3y['FTHG'][((df_t2_ut_3y['AwayTeam'] == u))])/len(df_t2_ut_3y)))
#         else:
#             d3["t2_ut_w3y"].append(np.nan)
#             d3["t2_ut_g3y"].append(np.nan)
#             d3["t2_ut_v3y"].append(np.nan)
#             d3["t2_ut_w3yr"].append(np.nan)
#             d3["t2_ut_g3yr"].append(np.nan)
#             d3["t2_ut_v3yr"].append(np.nan)
#             d3['t2_ut_tg3y'].append(np.nan)
#             d3['t2_ut_gf3y'].append(np.nan)
#             d3['t2_ut_ga3y'].append(np.nan)